.places {
  width: calc(100% - (100% - 730px) / 2.56);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

@media screen and (min-width: 1281px) {
  .places {
    width: 90%;
  }
}

@media screen and (max-width: 748px) {
  .places {
    width: 100%;
  }
}