.places__title {
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
  width: 460px;
}

@media screen and (max-width: 875px) {  
  .places__title {
    width: 340px;
    font-weight: 900;
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 748px) {
  .places__title {
    width: 288px;
    margin-left: 16px;
    margin-bottom: 32px;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }
}
