.places__place {
  margin: 0;
  padding: 0;
  margin-top: 80px;
}

@media screen and (max-width: 768px) {
  .places__place {
    margin-top: 73px;
  }

  .places__place:first-child {
    margin-top: 80px;
  }
}

@media screen and (max-width: 748px) {
  .places__place {
    margin-top: 50px;
  }

  .places__place:first-child {
    margin-top: 64px;
  }
}

