.cover__overlay {
  display: block;
  position: relative;
  text-decoration: none;
  background-image: url(../../../images/trains.png);
  padding: 0;
  width: 100%;
  margin: 0 auto;
  padding-top: calc((50vw + 544px) * 0.3125);
  padding-bottom: calc((50vw + 544px) * 0.3125);
  background-size: 100% 100%;
  color: #ffffff;
}

.cover__overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background: #2A2C2F;
}

.cover__overlay:hover:before {
  content: "";
  opacity: 0.8;
  cursor: url("../../../images/pointer.png"), pointer;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
    padding-top: calc(100vw * 0.3125);
    padding-bottom: calc(100vw * 0.3125);
  }
}