.places__url-heading {
  margin: 0;
  padding: 0;
  padding-bottom: 12px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
}

@media screen and (max-width: 748px) {
  .places__url-heading {
    margin: 0;
    text-align: left;
  }
}