.header__lang-links {
  display: flex;
  margin: 0;
  padding: 0;
  padding-top: 52px;
}

@media screen and (max-width: 768px) {
  .header__lang-links {
    padding-top: 46px;
  }
}

@media screen and (max-width: 720px) {
  .header__lang-links {
    padding-top: 30px;
  }
}